@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4"><b>WELCOME TO MY RESTAURANT</b></h1>
    <img src="~/r.jpg" height="550" width="1100" />
    <p>
        <i>
        Friendly warning! We're working hard to be accurate. But these are unusual times, so please check that venues remain open.</i>

        Catalan chef Alain Guiard, with French roots and education, needs little introduction in the culinary world. In case you're not familiar
        , however, he's triumphed in the popular world of carnivores at Santa Burg as well as with more subtle recipes with his tapas at La Mundana,
        and most recently he's taken over the restaurant of the Hotel Neri. Dubbed a restaurant (the lowercase isn't the only thing that makes it hard 
        to explain where you want to eat), it's a 'playful, straightforward and affordable dining option in a five-star Relais Chateaux hotel,' says Guiard.

        The restaurant is pure magic (overlooking a square full of not-so-happy history, by the way): 'Ours is a restaurant with one of the
        best quality-to-price ratios in Barcelona,' Guiard says, and that's no exaggeration. 'This is not linear food,' he says. The brilliance 
        of the dishes allows for them to be mixed and matched with anarchy. The medium-sized portions are made for sharing, though you might not
        want to: the egg with parmentier, smoked eel, carbonara foam and tobiko is something you'll want all for yourself. The good news is that
        they're sold individually, and each one for less than €5!

        Guiard shows off his strengths with a series of seafood and shellfish dishes, such as a sea bass ragout, cockles and mussels with orange
        and coconut, which is both a classic dish and at the same time a type of hot ceviche. The crunchy potato tacos with crab, sour cream and
        caviar are unforgettable. Here you'll find a clear and well-founded ambition: 'We don't say no to anything at the outset.' The ingenious
        presentations and the haute cuisine at affordable prices prove it's true.
    </p>
</div>
